body {
  background: #0f766e;
  padding: 48px 32px;
}
.container {
  background: #f0fdf4;
  padding: 56px;
}
.nav-item span {
  min-width: 40px;
  min-height: 40px;
  background: #0f172a;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: 999px;
  background: white;
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
.nav-item-1 {
  display: flex;
  gap: 32px;
}
.nav-item-2 button {
  margin: 0 0 0 24px;
  padding: 10px 20px;
  background: #06b6d4;
  color: #ffffff;
  border-radius: 9999px;
  border: none;
}
.hero-img {
  max-width: 480px;
  max-height: 430px;
}

.hero-img img {
  width: 100%;
  border-radius: 12px;
  height: 100%;
  object-fit: cover;
}
.hero {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}
.hero-title {
  font-size: 60px;
  gap: 40px;
  /* margin-top: 48px; */
  display: flex;
  gap: 40px;
  /* margin-top: 48px; */
  color: #0f172a;
  min-width: 130px;
  max-width: 420px;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-weight: bold;
}
.hero-desc {
  margin-top: 24px;
  font-size: 18px;
  min-width: 430px;
  min-height: 84px;
  color: #475569;
  width: 430px;
  height: 84px;
  /* border: 1px solid #000; */
  /* letter-spacing: 1px; */
  font-family: "Geist", sans-serif !important;
  letter-spacing: 0.5px;
}
.hero-btn {
  margin-top: 32px;
  display: flex;
  gap: 10px;
}
.hero-content-item {
  margin-top: 64px;
  display: flex;
  align-items: flex-start;
}
.hero-btn button {
  padding: 12px 24px;
  border-radius: 9999px;
}
.hero-btn button:first-child {
  background: #06b6d4;
  color: #ffffff;
  border: none;
}
.hero-btn button:last-child {
  background: transparent;
  color: #0f172a;
  border: 1px solid #0f172a;
}
.hero-content-item-desc-number {
  font-size: 36px;
}
.hero-content-item-desc-text {
  font-size: 14px;
  line-height: 20px;
}
.divider {
  width: 1px;
  height: 45px; /* cao như hình */
  background-color: #cbd5e1; /* màu xám nhạt giống hình */
  opacity: 0.6; /* mờ nhẹ giống style trong ảnh */
  margin: 0 48px;
}
.features {
  padding: 0 32px;
  margin-top: 80px;
}
.features-title {
  font-size: 30px;
  line-height: 36px;
  color: #0f172a;
  font-weight: bold;
}
.features-desc {
  margin: 16px 0 0;
  color: #475569;
  line-height: 56px;
  max-width: 672px;
  padding: 14px 0; 
}
